<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <!-- why isn't icon for <menu> showing? -->
  <menu id="apps-office-menu"
	label="LibreOffice"
	icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-main.svg">
    <item label="LibreOffice Base"
	  icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-main.svg">
      <action name="Execute">
	<command>libreoffice --base</command>
      </action>
    </item>
    <item label="LibreOffice Calc"
	  icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-calc.svg">
      <action name="Execute">
	<command>libreoffice --calc</command>
      </action>
    </item>
    <item label="LibreOffice Draw"
	  icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-draw.svg">
      <action name="Execute">
	<command>libreoffice --draw</command>
      </action>
    </item>
    <item label="LibreOffice Impress"
	   icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-impress.svg">
      <action name="Execute">
	<command>libreoffice --impress</command>
      </action>
    </item>
    <item label="LibreOffice Math"
	  icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-math.svg">
      <action name="Execute">
	<command>libreoffice --math</command>
      </action>
    </item>
    <item label="LibreOffice Writer"
	  icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-writer.svg">
      <action name="Execute">
	<command>libreoffice --writer</command>
      </action>
    </item>
  </menu>

  <menu id="apps-3dprinting-menu" label="3D-Printing">
    <item label="Cura"
	  icon="/usr/share/pixmaps/cura-icon.png">
      <action name="Execute">
	<command>cura -platformtheme gtk3</command>
	<startupnotify>
          <enabled>yes</enabled>
	</startupnotify>
      </action>
    </item>
  </menu>

  <menu id="apps-robotics-menu" label="Robotics">
    <item label="CoppelliaSim"
	  icon="/usr/share/pixmaps/CoppeliaSim-icon.png">
      <action name="Execute">
	<command>/home/ruusaig/Downloads/CoppeliaSim_Edu_V4_5_1_rev2_Ubuntu22_04/coppeliaSim.sh</command>
	<startupnotify>
          <enabled>yes</enabled>
	</startupnotify>
      </action>
    </item>
  </menu>

  <menu id="apps-3dmodelling-menu" label="3D-Modelling">
    <item label="Blender"
	  icon="/usr/share/icons/Qogir/scalable/apps/blender.svg">
      <action name="Execute">
	<command>blender</command>
	<startupnotify>
          <enabled>yes</enabled>
	</startupnotify>
      </action>
    </item>
    <item label="FreeCAD"
	  icon="/usr/share/icons/Qogir/scalable/apps/freecad.svg">
      <action name="Execute">
	<command>freecad</command>
	<startupnotify>
          <enabled>yes</enabled>
	</startupnotify>
      </action>
    </item>
    <item label="OpenSCAD"
	  icon="/usr/share/icons/hicolor/64x64/apps/openscad.png">
      <action name="Execute">
	<command>openscad</command>
	<startupnotify>
          <enabled>yes</enabled>
	</startupnotify>
      </action>
    </item>
  </menu>


  
  <menu id="apps-graphics-menu" label="Design"
	icon="/usr/share/icons/Qogir-ubuntu-dark/24/actions/graphics.svg">
    <item label="Gimp"
	  icon="/usr/share/icons/hicolor/48x48/apps/gimp.png">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape"
	icon="/usr/share/icons/Qogir/scalable/apps/inkscape.svg">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Glade"
	icon="/usr/share/icons/Qogir/scalable/apps/glade-3.svg">
    <action name="Execute">
      <command>glade</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="power" label="Power">
  <item label="Sleep">
    <action name="Execute">
      <command>loginctl suspend</command>
    </action
  </item>
  <item label="Hibernate">
    <action name="Execute">
      <command>loginctl hibernate</command>
    </action
  </item>
  <item label="Shutdown">
    <action name="Execute">
      <command>loginctl poweroff</command>
    </action
  </item>
  <item label="Reboot">
    <action name="Execute">
      <command>loginctl reboot</command>
    </action
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Obconf"
	icon="/usr/share/pixmaps/obconf.png">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Appearance"
	icon="/usr/share/icons/Qogir-dark/22/actions/graphics.svg">
    <action name="Execute">
      <command>lxappearance</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
    <item label="Xsettings"
	icon="/usr/share/icons/Qogir-dark/22/actions/graphics.svg">
    <action name="Execute">
      <command>emacsw ~/.xsettingsd</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Picom Configuration"
	icon="/usr/share/icons/Qogir/scalable/devices/monitor.svg">
    <action name="Execute">
      <command>emacsw ~/.config/picom/picom.conf</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Dunst Configuration"
	icon="/usr/share/icons/Adwaita/scalable/status/notifications-disabled-symbolic.svg">
    <action name="Execute">
      <command>emacsw ~/.config/dunst/dunstrc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Openbox menu.xml"
	icon="/usr/share/pixmaps/openbox.png">
    <action name="Execute">
      <command>emacsw ~/.config/openbox/menu.xml</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Openbox rc.xml"
	icon="/usr/share/pixmaps/openbox.png">
    <action name="Execute">
      <command>emacsw ~/.config/openbox/rc.xml</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Openbox autostart"
	icon="/usr/share/pixmaps/openbox.png">
    <action name="Execute">
      <command>emacsw ~/.config/openbox/autostart</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>

</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="Emacs"
	icon="/usr/share/pixmaps/emacs.png">
    <action name="Execute">
      <command>emacsw</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox"
	icon="/usr/share/pixmaps/firefox-bin.png">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox Private Window"
	icon="/home/ruusaig/Pictures/logo-firefox-focus.png"> 	<!-- Get the icon from: https://www.mozilla.org/media/img/structured-data/logo-firefox-focus.f5f0b924422f. --> 
    <action name="Execute">
      <command>firefox --private-window</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="File Manager"
	icon="/usr/share/icons/hicolor/48x48/apps/org.xfce.thunar.png">
    <action name="Execute">
      <command>thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Terminal Emulator"
	icon="/usr/share/icons/Adwaita/scalable/legacy/utilities-terminal-symbolic.svg">
    <action name="Execute">
      <command>st</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <menu id="apps-office-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-3dmodelling-menu"/>
  <menu id="apps-3dprinting-menu"/>
  <menu id="apps-robotics-menu"/>
  
  <separator label="System" />
  <menu id="system-menu"/>
  <menu id="power"/>
  <separator />
  <!-- TODO: Add that logout settings application here -->
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
